
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>JudgementApplication</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="~/assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="~/assets/css/x-dropdown.css">
</head>
<body style="background: rgb(241,247,252);">
    <section class="contact-clean">
        <form method="post" style="text-align: center;">
            <h2 class="text-center">Create Problem</h2>
            <div>
                <div class="card shadow mb-4" id="Question-1">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="text-primary fw-bold m-0">Information&nbsp;</h6>
                    </div>
                    <div class="card-body" style="text-align: left;"><label class="form-label" style="font-style: normal;font-weight: bold;">Your problem has been created successfully!</label></div>
                </div>
            </div><button class="btn btn-primary" type="button">EDIT</button>
        </form>
    </section>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/theme.js"></script>
</body>
</html>